<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets async="true">
    <target xsi:type="File" name="LogFile" fileName="${basedir}/logs/${shortdate}.Claim-api.log"
            layout="${longdate} ${uppercase:${level}} | User:[${aspnet-user-identity}] | ${message} ${exception:format=tostring} "/>
    <target xsi:type="File" name="linuxFilePath" fileName="/var/log/${shortdate}.Claim-api.log"
           layout="${longdate} ${uppercase:${level}} | User:[${aspnet-user-identity}] | ${message} ${exception:format=tostring} "/>

    <target xsi:type="Console"
        name="Console"
        layout="${longdate} ${uppercase:${level}} | User:[${aspnet-user-identity}] | ${message} ${exception:format=tostring}"
        header="Start"
        footer="End">
    </target>
    <target name="db"
        xsi:type="Database"
        connectionString="${gdc:item=defaultConnection}"
        commandType="StoredProcedure"
        commandText="[dbo].[NLog_AddEntry_p]"
        >
      <parameter name="@machineName"    layout="${machinename}" />
      <parameter name="@logged"         layout="${date}" />
      <parameter name="@level"          layout="${level}" />
      <parameter name="@message"        layout="${message}" />
      <parameter name="@logger"         layout="${logger}" />
      <parameter name="@properties"     layout="${all-event-properties:separator=|}" />
      <parameter name="@callsite"       layout="${callsite}" />
      <parameter name="@exception"      layout="${exception:tostring}" />
    </target>
    <target name="aws" type="AWSTarget" logGroup="Microservices" region="us-west-1"/>
    <target xsi:type="WebService"
         name="Splunk"
         url="https://SPLUNKSERVER/services/collector/event"
         protocol="JsonPost"
         encoding="utf-8"
         preAuthenticate="true">
      <header name='Authorization' layout='Splunk YOURTOKEN' />
      <!-- 
        OR from config
        <header name='Authorization' layout='Splunk ${configsetting:name=Splunk.Token}' />
        -->
      <parameter name='sourcetype' layout='_json'/>
      <parameter name="event">
        <layout xsi:type="JsonLayout">
          <attribute name="Exception" encode="false" layout="${exception:format=@}" />
          <attribute name="Logger" layout="${logger}" />
          <attribute name="Level" layout="${level}"/>
          <attribute name="Date" layout="${longdate}"/>
        </layout>
      </parameter>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="LogFile" />
    <logger name="*" levels="Error" writeTo="LogFile" />
    <logger name="*" minlevel="Trace" writeTo="Console" />
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>

</nlog>